@{
    ViewData["Title"] = "Hoteles";
}
<h1>@ViewData["Title"]</h1>

@model IEnumerable<Docs.Models.Hoteles>;
<h1>Hoteles Disponibles</h1>
<table>
    <thead>
        <tr>
            <td>Ciudad</td>
            <td>Habitaciones Premium</td>
            <td>Habitaciones Standard</td>
            <td>Cupo por Habitaciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Ciudad</td>
                <td>@item.HabitacionPremium</td>
                <td>@item.HabitacionStandar</td>
                <td>@item.CupoHabitacion</td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-page="./Create">Nuevo Hotel</a>